<<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="utf-8">




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>AddPost</title>
</head>
<body>




 <!-- nav bar start -->
    
              
             <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Blog App</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Posts <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addpost">New Post</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="">Comments</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
    </form>
    &nbsp;&nbsp;&nbsp;
    
    <a href="login">
    <button type="button" class="btn btn-dark">Logout</button>
    </a>
  </div>
</nav>
   
         <!-- nav bar end -->


<div>
    <h2 class="text-center text-muted">Create New Post</h2>
</div>


                   
  <div class="container">
  
  
  <form th:action="@{/addpost}" th:object="${newPost}" method="post">
  <!-- Title input -->
  <div class="form-outline mb-4">
    <input type="text" name="title" id="form4Example1" class="form-control" />
    <label class="form-label" for="form4Example1">Title</label>
  </div>

  <!-- Description input -->
  <div class="form-outline mb-4">
    <input type="text" name="description" id="form4Example2" class="form-control" />
    <label class="form-label" for="form4Example2">Short Description</label>
  </div>

  <!-- Content input -->
  <div class="form-outline mb-4">
    <textarea class="form-control" name="content" id="form4Example3" rows="4"></textarea>
    <label class="form-label" for="form4Example3">Content</label>
  </div>

  

  <!-- Submit button -->
  <button type="submit" class="btn btn-secondary btn-block mb-4 ">Add Post</button>
</form>


</div>

</body>
</html>